.option-item + .option-item {
    margin-top: 0.25rem;
}

<<<<<<< HEAD
.inner + .inner {
    margin-left: 1.5rem;
}

.searchBtn {
    padding: 0.75rem !important;
}
=======
>>>>>>> 4d94449ad6d1bf764e626aea04845501ddebc978
